* {
  box-sizing: border-box
}




/* GRID */

.grid-container {
  display: grid;
  grid: "free basic premium" 390px
    / 1fr 1fr 1fr;
  grid-gap: 20px
}


.free {
  grid-area: free
}

.basic {
  grid-area: basic
}

.premium {
  grid-area: premium
}




/* DESIGN */

.grid-item {
  background: lightgrey;
  border-radius: 10px
}

p {
  padding: 1.25rem 3.5rem
}

.middle, .price {
  text-align: center
}

.price {
  background: red;
  color: white
}

a {
  display: inline-block;
  background: #00008B;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 9999px;
  width: 10rem;
  padding: .5rem 2.9rem;
  margin: 0 calc((100% - 10rem) / 2)
}